
  MARQUEE {
    background-image:url( http://4.bp.blogspot.com/-vUvlnvMef_k/UQwisZwxREI/AAAAAAAAAeU/IgMGhMvCO7c/s1600/black_background_by_density_stock-d4ujex5.jpg);
    font-size:50px;
    color:white;
  }
  #header {
    position:absolute;
background-image:url( http://thumb9.shutterstock.com/display_pic_with_logo/2045459/192586202/stock-vector-color-africa-background-with-map-giraffes-leopard-and-trees-vector-illustration-192586202.jpg);

       color:white;
    text-align:center;
    margin-top: 0px;
    padding-bottom: 1000px;
    padding-right: 155px;
    margin-left: 0px; 
}
img.ex2 {
    position: absolute;
    left: 100px;
    top: 150px;
    }
  
