
  MARQUEE {
    background-image:url( http://4.bp.blogspot.com/-vUvlnvMef_k/UQwisZwxREI/AAAAAAAAAeU/IgMGhMvCO7c/s1600/black_background_by_density_stock-d4ujex5.jpg);
    font-size:50px;
    color:white;
  }
  #header {
    position:absolute;
background-image:url(https://img0.etsystatic.com/029/0/5534319/il_570xN.615528368_2te9.jpg);

       color:white;
    text-align:center;
    margin-top: 0px;
    padding-bottom: 3000px;
    padding-right: 590px;
    margin-left: 0px; 
}
#side {
    position:absolute;
       text-align:center;
    margin-top: 0px;
    padding-bottom: 1000px;
    padding-left:300px;
    right:0; 
}
img.ex2 {
    position: absolute;
    left: 100px;
    top: 150px;
    }
  
