
  MARQUEE {
    background-image:url( http://4.bp.blogspot.com/-vUvlnvMef_k/UQwisZwxREI/AAAAAAAAAeU/IgMGhMvCO7c/s1600/black_background_by_density_stock-d4ujex5.jpg);
    font-size:50px;
    color:white;
  }
  #header {
    position:absolute;
background-image:url( http://thumbs.dreamstime.com/z/africa-map-african-typography-made-patchwork-fabric-text-texture-over-black-background-37764998.jpg);

       color:white;
    text-align:center;
    margin-top: 0px;
    padding-bottom: 1000px;
    padding-right: 300px;
    margin-left: 0px; 
}
#side {
    position:absolute;
       text-align:center;
    margin-top: 0px;
    padding-bottom: 1000px;
    padding-left:300px;
    right:0; 
}
img.ex2 {
    position: absolute;
    left: 100px;
    top: 150px;
    }
  
